<div class="box">
  <h2>Archives</h2>
  <ul>
    <li>January 2011</li>
    <li>February 2011</li>
    <li>March 2011</li>
    <li>April 2011</li>
    <li>May 2011</li>
    <li>June 2011</li>
  </ul>
</div>