<div class="box">
  <h2>Filter by Month</h2>
  <ul>
    <% for row in @search.facet(:published_month).rows %>
      <li>
        <% if params[:month].blank? %>
          <%= link_to row.value, :month => row.value, :search => params[:search] %> (<%= row.count %>)
        <% else %>
          <strong><%= row.value %></strong> (<%= link_to "remove", :month => nil, :search => params[:search] %>)
        <% end %>
      </li>
    <% end %>
  </ul>
</div>