<div class="box">
  <h2>About Thomas Dippel</h2>
  <p>
    I've worked professionally with Ruby on Rails since 2006, and I'm a strong believer in open standards and open source.
  </p>
  <p>
    You can even download the source for this website on <%= link_to "Github", "https://github.com/dipth/dipth", :target => "_blank" %>.
  </p>
</div>