<%= content_for :above_content do %>
  <div class="align_center">
    <%= image_tag "frontpage_banner.png", :id => "frontpage_banner" %>
  </div>
<% end %>

<% content_for :right_column do %>
  <div class="box">
    <h2>Archives</h2>
    <ul>
      <li>January 2011</li>
      <li>February 2011</li>
      <li>March 2011</li>
      <li>April 2011</li>
      <li>May 2011</li>
      <li>June 2011</li>
    </ul>
  </div>
<% end %>

<h1>Latest news</h1>

<div class="blog_entry">
  <div class="inner">
    <div class="top"></div>
    <div class="date">
      <span class="day">16</span><br />
      <span class="month">Jan</span><br />
      <span class="year">2011</span><br />
    </div>
    <div class="middle">
      <h2>Headline</h2>
      <p class="strong">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie lectus arcu, vitae lacinia nisl. Donec pharetra laoreet ligula sit amet viverra. Donec ut dui nec velit hendrerit sollicitudin eu at tortor. Integer eu sem quam, in sollicitudin turpis. Ut luctus turpis et ligula condimentum dapibus. Praesent lacus dolor, porttitor vitae viverra et, convallis vitae dui. Maecenas porttitor eros id felis tempor ac aliquam velit sollicitudin.
      </p>
      <p>
        Nulla sed eros eros, sit amet egestas sem. Pellentesque posuere risus at purus bibendum at vulputate magna malesuada. Integer laoreet est in tortor accumsan nec mollis tellus rutrum. Aliquam erat volutpat. Nulla sagittis placerat velit, quis consequat nibh posuere id. Nullam urna lectus, faucibus ut pellentesque ac, luctus quis enim. Maecenas nulla ante, semper id tincidunt dapibus, molestie dictum diam. Nam vitae sapien dui, eget semper est. Vivamus in auctor arcu. Nulla sed nunc nisl, ac ullamcorper massa. Proin fermentum dolor vitae ipsum adipiscing quis fermentum felis vestibulum.
      </p>
    </div>
    <div class="bottom"></div>
  </div>
</div>

<div class="blog_entry">
  <div class="inner">
    <div class="top"></div>
    <div class="date">
      <span class="day">16</span><br />
      <span class="month">Jan</span><br />
      <span class="year">2011</span><br />
    </div>
    <div class="middle">
      <h2>Headline</h2>
      <p class="strong">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie lectus arcu, vitae lacinia nisl. Donec pharetra laoreet ligula sit amet viverra. Donec ut dui nec velit hendrerit sollicitudin eu at tortor. Integer eu sem quam, in sollicitudin turpis. Ut luctus turpis et ligula condimentum dapibus. Praesent lacus dolor, porttitor vitae viverra et, convallis vitae dui. Maecenas porttitor eros id felis tempor ac aliquam velit sollicitudin.
      </p>
      <p>
        Nulla sed eros eros, sit amet egestas sem. Pellentesque posuere risus at purus bibendum at vulputate magna malesuada. Integer laoreet est in tortor accumsan nec mollis tellus rutrum. Aliquam erat volutpat. Nulla sagittis placerat velit, quis consequat nibh posuere id. Nullam urna lectus, faucibus ut pellentesque ac, luctus quis enim. Maecenas nulla ante, semper id tincidunt dapibus, molestie dictum diam. Nam vitae sapien dui, eget semper est. Vivamus in auctor arcu. Nulla sed nunc nisl, ac ullamcorper massa. Proin fermentum dolor vitae ipsum adipiscing quis fermentum felis vestibulum.
      </p>
    </div>
    <div class="bottom"></div>
  </div>
</div>