<%= content_for :above_content do %>
  <div class="align_center">
    <%= image_tag "frontpage_banner.png", :id => "frontpage_banner" %>
  </div>
<% end %>

<% content_for :right_column do %>
  <div class="box">
    <h2>Archives</h2>
    <ul>
      <li>January 2011</li>
      <li>February 2011</li>
      <li>March 2011</li>
      <li>April 2011</li>
      <li>May 2011</li>
      <li>June 2011</li>
    </ul>
  </div>
<% end %>

<h1>Latest news</h1>