<div class="box">
  <h2>Competences</h2>
  <ul>
    <li>Caching and Loadbalancing</li>
    <ul>
      <li>memcached</li>
      <li>nginX</li>
    </ul>
    <li>Databases</li>
    <ul>
      <li>MS SQL Server</li>
      <li>MySQL</li>
      <li>PostgreSQL</li>
      <li>SQLite</li>
    </ul>
    <li>Deployment</li>
    <ul>
      <li>Amazon EC2</li>
      <li>Amazon S3</li>
      <li>Apache</li>
      <li>Capistrano</li>
      <li>Chef</li>
      <li>EngineYard AppCloud</li>
      <li>Heroku</li>
      <li>Mongrel</li>
      <li>Unicorn</li>
    </ul>
    <li>Development</li>
    <ul>
      <li>ASP</li>
      <li>ASP.NET</li>
      <li>ASP.NET MVC</li>
      <li>ASP.NET Webservices</li>
      <li>C#</li>
      <li>CSS</li>
      <li>HTML/XHTML</li>
      <li>Java</li>
      <li>JavaScript (including: JQuery and Prototype)</li>
      <li>Ruby</li>
      <li>Ruby on Rails</li>
      <li>VB.NET</li>
      <li>XML</li>
    </ul>
    <li>Platforms</li>
    <ul>
      <li>OS X</li>
      <li>Ubuntu</li>
      <li>Windows / Windows Server</li>
    </ul>
    <li>Testing</li>
    <ul>
      <li>Factory Girl</li>
      <li>RSpec</li>
    </ul>
    <li>VCS</li>
    <ul>
      <li>Git</li>
      <li>Subversion</li>
    </ul>
  </ul>
</div>