<div class="box">
  <h2>Education and Work History</h2>
  <ul>
    <li>2001-2004: Vejen Handelsskole - HHX</li>
    <li>2004-2006: University of Southern Denmark - Computer Science</li>
    <li>2005-2007: Boomtown A/S - System Administrator</li>
    <li>2007-2011: Smartlaunch Systems A/S - .NET Developer</li>
    <li>2008-2011: Smartlaunch Systems A/S - CTO</li>
    <li>2009-2011: Smartlaunch Systems A/S - CEO</li>
    <li>2010-Present: Visioneers - Self-employed Web Developer</li>
    <li>2011-Present: Benjamin Media A/S - Web Developer</li>
  </ul>
</div>