<% content_for(:title){"Contact"} %>

<% content_for :above_content do %>
  <div class="align_center">
    <%= image_tag "contact_banner.png", :alt => "", :id => "frontpage_banner" %>
  </div>
<% end %>

<h1>Now it's your turn to write something!</h1>

<p>
  Now that you've read a bit about me and what I do, I would love to hear from you.
<p>

<p>
  Who knows, you might be interested in working with me, or maybe you just have some questions that you are burning to ask...
</p>

<p>
  In any case, don't hesitate, send me an e-mail at:
</p>

<p class="align_center very_big">
  <%= link_to "thomas@dippel.dk", "mailto:thomas@dippel.dk" %>
</p>